.postview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 520px;
    overflow-y: scroll;
}

.buttoncontainer {
    position: relative;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

